@{
    ViewBag.Title = "About";
}

<div class="bg">

    <ul class="align">
        <h1>Student Information</h1>
        <li>Name: John Benedict D. Laureta</li>
        <li>Course & Section: BSIT31E1</li>
        <li>Age: 21</li>
        <li>Gender: Male</li>
        <li>Address: Los Angeles California</li>
        <li>Contact: 911</li>
        <li>Hobby: Playing video games</li>
    </ul>

</div>

