@{
    ViewBag.Title = "Home Page";
}

@{
    ViewBag.Title = "Home Page";
}

<div class="home">
    <br><br><br><br>
    <h1>Application Development & Emerging Technologies</h1>

    <div class="forbg">
    </div>
</div>